// Fonts-size
$fs-xxxl: 82px; 
$fs-xxl: 54px; 
$fs-xl: 48px; 
$fs-l: 30px; 
$fs-m: 24px; 
$fs-s: 21px; 
$fs-xs: 16px; 
$fs-xxs: 10px; 

//Fonts-color
$subtitle-text-color: #848E97;
$main-text-color: #8e80ac;

$description-text-color: #848e97;
$description-second-text-color: #a291a5;

$caption-text-color: #323232;
$caption-second-text-color: #635c73;

$background-color: #f4f4f4;
